


#header{
      background:url("https://images.unsplash.com/photo-1546795729-f3a5d42087f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1550&q=600")no-repeat ;
   height:450px;
background-size:100%;

display:block;
padding:0 !important;
margin:0;
     }
  .display-3{
  		color:white;
  		text-transform: uppercase;
		font-family: 'Kaushan Script', cursive;
		padding-top: 15%;
		font-size: 3em;
     }

  .cards{
  	padding-top:0px;
  }

  .card-header{
  	text-align: center;
  }

  .heading{
 	font-family: 'Acme', sans-serif;
	padding-top: 2%;
	text-align: center;
  	font-size:2.5em;
  	color:#0000A0;
  		}

  .thumbnail img{
	width:100%;
	}

.thumbnail{
		padding:5px;
}

.ui.steps{
	width:100px;
}
.fa{
	text-align: center;
        width: 100%; 

}
hr{
	width:400px;
	border-top:1px solid #f8f8f8 ;
	border-bottom: 1px solid rgba(0,0.8,0.2,0.2);
}